/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1;
  font-weight: 400;
  background: url("../imgs/background.png") no-repeat center;
  background-size: 100%;
  height: 100%;
}

.center {
  margin: 150px auto;
}

.box {
  background-color: rgba(255, 255, 255, 0.737);
  width: 1080px;
  border-radius: 10px;
  padding: 60px;
  display: flex;
  gap: 60px;
}

.box__content {
  width: 450px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box__content h1 {
  font-size: 56px;
  line-height: 50px;
}

.box__content p {
  color: #1f1249;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

.btn {
  height: 60px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  box-shadow: 0px 6px 18px #9cadf2;
  border-radius: 10px;
  border: none;
  padding: 0px 50px;
  cursor: pointer;
}

.hide {
  display: none;
}

/* =============== Welcome Page =============== */

.welcome img {
  width: 450px;
  height: 315px;
  border-radius: 10px;
}

.get__started {
  margin-top: 40px;
}

/* =============== signup Page =============== */
.signup .box__content {
  padding: 0;
}

.signup img {
  width: 450px;
  height: 556px;
  border-radius: 10px;
}

.signup .box__content h1 {
  font-size: 42px;
}

.signup .form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.signup .form input {
  width: 100%;
  height: 60px;
  padding: 8px 0 8px 40px;
  border: 1px solid #dbe3ff;
  border-radius: 10px;
}

ul.warning {
  list-style-type: none;
  padding: 10px;
  color: red;
  font-size: 14px;
  line-height: 1.5;
}

input.user {
  background: url(../imgs/user.png) no-repeat #fff;
  background-position: 10px center;
  background-size: 20px;
}

input.mail {
  background: url(../imgs/email.png) no-repeat #fff;
  background-position: 10px center;
  background-size: 20px;
}

input.pass {
  background: url(../imgs/padlock.png) no-repeat #fff;
  background-position: 10px center;
  background-size: 20px;
}

.signup .form input:focus {
  outline: none;
}

/* ================ Successful Signup ================= */
.successful__signup img {
  width: 450px;
  height: 456px;
  border-radius: 10px;
}

.successful__signup .box__content {
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

.successful__signup .box__content h1 {
  font-size: 34px;
}

.successful__signup .box__content a {
  color: #1f1249;
  font-size: 16px;
}

/* ================= Media ================== */

@media (max-width: 45em) {
  .center {
    margin: 0;
  }

  .box {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px 0;
  }

  .box__content {
    padding: 0;
    width: 315px;
    text-align: center;
  }

  .box__content h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .box__content p {
    font-size: 16px;
    line-height: 26px;
  }

  .welcome img {
    width: 315px;
    height: 315px;
  }

  .signup img {
    width: 315px;
    height: 315px;
  }

  .successful__signup img {
    width: 315px;
    height: 315px;
  }
}
